In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df1=pd.read_csv('gdrive/My Drive/train.csv',encoding='latin-1')
df1.head(10)

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8
5,5,0.10659,80.0,1.91,0,0.413,5.936,19.5,10.5857,4,334.0,22.0,376.04,5.57,20.6
6,6,51.13580,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666.0,20.2,2.60,10.11,15.0
7,7,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403.0,14.7,396.90,26.82,13.4
8,8,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307.0,21.0,386.85,6.58,23.1
9,9,0.24522,0.0,9.90,0,0.544,5.782,71.7,4.0317,4,304.0,18.4,396.90,15.94,19.8

In [ ]:
df2=pd.read_csv('gdrive/My Drive/test.csv',encoding='latin-1')
df2.head()
df2.isnull()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,False,False,False,False,False,False,False,False,False,False,False,False,False,False
101,False,False,False,False,False,False,False,False,False,False,False,False,False,False
102,False,False,False,False,False,False,False,False,False,False,False,False,False,False
103,False,False,False,False,False,False,False,False,False,False,False,False,False,False
104,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
phi = np.loadtxt('gdrive/My Drive/train.csv', dtype='float', delimiter=',', skiprows=1,
                 usecols=tuple(range(1, 14)))
print(phi)

[[9.55770e-01 0.00000e+00 8.14000e+00 ... 2.10000e+01 3.06380e+02
  1.72800e+01]
 [2.87500e-02 2.80000e+01 1.50400e+01 ... 1.82000e+01 3.96330e+02
  6.21000e+00]
 [1.22358e+00 0.00000e+00 1.95800e+01 ... 1.47000e+01 3.63430e+02
  4.59000e+00]
 ...
 [6.65492e+00 0.00000e+00 1.81000e+01 ... 2.02000e+01 3.96900e+02
  1.39900e+01]
 [1.31170e-01 0.00000e+00 8.56000e+00 ... 2.09000e+01 3.87690e+02
  1.40900e+01]
 [6.46600e-02 7.00000e+01 2.24000e+00 ... 1.48000e+01 3.68240e+02
  4.97000e+00]]

In [ ]:
# Import y from train data set
y = np.loadtxt('gdrive/My Drive/train.csv', dtype='float', delimiter=',', skiprows=1,
               usecols=14, ndmin=2)

In [ ]:
# Import phi_test from test data set
phi_test = np.loadtxt('gdrive/My Drive/test.csv', dtype='float', delimiter=',',
                      skiprows=1, usecols=tuple(range(1, 14)))
print(phi_test)

[[1.06120e-01 3.00000e+01 4.93000e+00 ... 1.66000e+01 3.94620e+02
  1.24000e+01]
 [3.41090e-01 0.00000e+00 7.38000e+00 ... 1.96000e+01 3.96900e+02
  6.12000e+00]
 [1.22472e+01 0.00000e+00 1.81000e+01 ... 2.02000e+01 2.46500e+01
  1.56900e+01]
 ...
 [5.36000e-02 2.10000e+01 5.64000e+00 ... 1.68000e+01 3.96900e+02
  5.28000e+00]
 [1.04690e-01 4.00000e+01 6.41000e+00 ... 1.76000e+01 3.89250e+02
  6.05000e+00]
 [4.55587e+00 0.00000e+00 1.81000e+01 ... 2.02000e+01 3.54700e+02
  7.12000e+00]]

In [ ]:
# Add a col1umn of 1s to right of phi and phi_test
phi_test = np.concatenate((phi_test, np.ones((105, 1))), axis=1)
phi = np.concatenate((phi, np.ones((400, 1))), axis=1)

In [ ]:
# Min Max scaling for phi and phi_test (Feature Engineering)
for i in range(0, 13):
    col_max = max(phi[:, i])
    col_min = min(phi[:, i])
    phi[:, i] = (phi[:, i] - col_min) / (col_max - col_min)
    phi_test[:, i] = (phi_test[:, i] - col_min) / (col_max - col_min)

In [ ]:
# Log scaling on y  
y = np.log(y)

In [ ]:
# Function to calculate change in error function
def delta_w(p, phi, w):
    if p == 2:
        deltaw = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)))
    if p < 2 and p > 1:
        deltaw = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)) * np.sign(w))
    return deltaw

In [ ]:
# Dictionary containing filenames as keys and p as values
filenames = {'output.csv': 2.0,
             'output_1.csv': 1.75,
             'output_2.csv': 1.5,
             'output_3.csv': 1.3
             }

In [ ]:
# For each item in this dictionary
for (fname, p) in filenames.items():
    # Set initial w to zeros
    w = np.zeros((14, 1))

    # Hyperparameter lambda value
    lambd = 0.2

    # Maximum step size
    t = 0.00012

    # Calculate new value of w
    w_new = w - t * delta_w(p, phi, w)

    i = 0
    # Repeat steps until error between consecutive w is less than threshold
    while(np.linalg.norm(w_new-w) > 10 ** -10):
        w = w_new
        w_new = w - t * delta_w(p, phi, w)
        i = i + 1

In [ ]:
# Load values of id
id_test = np.loadtxt('gdrive/My Drive/test.csv', dtype='int', delimiter=',',
                         skiprows=1, usecols=0, ndmin=2)

In [ ]:
 # Calculate y for test data
y_test = np.exp(np.dot(phi_test, w_new))

In [ ]:
 # Save the ids and y
np.savetxt(fname, np.concatenate((id_test, y_test), axis=1),
  delimiter=',', fmt=['%d', '%f'], header='ID,MEDV', comments='')